@import 'normalize';
@import 'colors';

$default-font-size: 1.8rem;
$section-spacing-value: 100px;

$desktop-heading-size: 3.4rem;


* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: $default-font-size;
  color: $grayish-blue;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

main {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 40px 25px 0 25px;
}

.main__nav {
  display: none;
}

.mobile__nav {
  background-color: rgba(36, 41, 70, 0.95);
  color: #fff;
  height: 100%;  
  left: 0;
  margin: 0;
  padding: 64px 25px 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.mobile__nav--hidden {
  display: none;
}

.mobile__nav__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mobile__nav__menu {
  border-top: 1px solid #4c526c;
  list-style-type: none;
  margin: 25px auto;
  padding: 0;
}

.mobile__nav__menu__item {
  border-bottom: 1px solid #4c526c;
  color: #fff;
  letter-spacing: 2px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

.mobile__nav__menu li:last-of-type {
  border: 3px solid #fff;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 25px;
  padding: 15px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.hero__heading {
  color: $very-dark-blue;
  font-size: 2.7rem;
  font-weight: 500;
}

.hero__text__holder {
  margin-top: 50px;
  padding: 0 5%;
}


.button {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(105, 105, 109, 0.15);
  color: #565865;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 17px;
}

.button:hover {
  background-color: $soft-blue;
  color: #fff;
}

.button:active {
  transform: translateY(2px);
}

.button--blue {
  background-color: $soft-blue;
  border: 1px solid $soft-blue;
  color: #fff;
}

.button--get--ff {
  border: 1px solid #f7f7f7;
}

.features {
  margin-top: $section-spacing-value;
}

.features__text {
  padding: 0 5%;
}

.features__description {
  margin-bottom: 50px;
}

.features__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

.features__menu {
  border-top: 1px solid #dde0e9;
  list-style-type: none;
  margin: 25px 0 100px 0;
  padding: 0;
}

.features__menu__item {
  border-bottom: 1px solid #dde0e9;
  padding: 10px 0 0 0;
}

.features__menu__item__highlight {
  height: 4px;
  margin: 0 auto;
  text-align: center;
  width: 40%; 
}

.features__menu__item__highlight--red {
  background-color: $soft-red;
  color: $very-dark-blue;
}

.features__menu__item--blue {
  color: $very-dark-blue;
}

.features__menu__item:hover {
  color: $soft-red;
  cursor: pointer;
}

.features__holder__text {
  padding: 0 5%;
}

.button--features {
  display: none;
}

.blue__box {
  background-color: #5368df;
}

.blue__box--right {
  border-bottom-left-radius: 90px;
  margin: 0 0 0 125px;
}

.blue__box--left {
  border-bottom-right-radius: 90px;
  margin: 0 125px 0 0;
}

.blue__box__image {
  max-width: 350px;
  min-width: 290px;
  width: 100%;
}

.blue__box__image--right {
  margin-top: -45px;
  margin-left: -120px;
}

.blue__box__image--left {
  margin-top: -45px;
  margin-right: -140px;
}

.hero__image__holder {
  padding-left: 5%;
}

.extension {
  margin-top:  $section-spacing-value;
  padding: 5%;
}

.extension__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

.extension__card {
  border-radius: 15px;
  box-shadow: 1px 3px 10px rgba(105, 105, 109, 0.15);
  margin: 20px auto;
  padding: 50px 0 20px 0;
  width: 280px;
}

.extension__card__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 10px 0 5px 0;
  text-align: center;
}

.extension__card__version {
  font-size: 1.6rem;
  margin: 0;
}

.extension__card__separator {
  margin: 20px 0 20px 0;
}

.faq {
  margin-top:  $section-spacing-value;
  padding: 0 5%;
}

.faq__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;  
}

details summary {
  color: $very-dark-blue;
  padding: 25px 0;
  text-align: right;
  border-bottom: 1px solid #eee;
  display: block;
}

.faq__question {
  display: inline-block;
  margin: 5px 0; 
  text-align: left; 
  width: 90%;
}
   
details summary::-webkit-details-marker {
  display: none;
}
  
details summary:after {
  display: inline-block;
  content: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  text-align: right;
  padding-bottom: 20px;
}

details[open] summary:after {
  display: inline-block;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url("../images/icon-arrow-red.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transform:scaleY(-1);
}

details[open] summary {
  border: none;
}

.faq__answer {
  text-align: left;
}

.faq__question {
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 90%;
}

.faq__question:hover {
  color: $soft-red;
  cursor: pointer;
}

details {
  margin: 25px 0 0 0;
}

details summary {
  padding: 0 0 25px 0;
  position: relative;
}

.button--faq {
  margin-bottom: 35px;
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.signup {
  background-color: $soft-blue;
  color: #fff;
  padding: 0 5%;
  padding-bottom: 50px;
}

.signup__tagline {
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding: 70px 0 0 0;
  text-transform: uppercase;
}

.signup__heading {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0;
  text-align: center;  
}

.signup__form__input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

.signup__form__input--alert {
  background-image: url('../images/exclamation-circle-solid.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 5%;
}

.signup__form__input__holder {
  margin: 10px 0;
  padding: 2px 2px 5px 2px;
}

.signup__form__input__holder--red {
  background-color: $soft-red;
  border-radius: 5px;
}

.signup__form__input__holder__alert {
  color: #fff;
  font-size: 1.4rem;
  font-style: italic;
  margin: 0;
  padding: 5px 0 0 10px;
  text-align: left;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ceced0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ceced0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ceced0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ceced0;
}

.signup__form__button {
  background-color: $soft-red;
  color: #fff;
  width: 100%;
}

.signup__form__button:hover {
  background-color: $soft-red;
  color: #fff;
}

.footer {
  background-color: $very-dark-blue;
  color: #fffeff;
  margin: 0;
  padding: 40px 0 0 0;
}

.footer__nav {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
}

.footer__nav__item {
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 15px 0;
  padding: 0;
  text-transform: uppercase;
}

.footer__social {
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
}

.footer__social__item {
  display: inline-block;
}

.footer__social li:last-of-type {
  margin-left: 35px;
}

.attribution { font-size: 11px; text-align: center; margin: 0; padding: 50px 0; }
.attribution a { color: hsl(228, 45%, 44%); }


.footer__social__item a:link, .footer__social__item a:visited {
  color: #fff;
}

.footer__social__item a:hover, .footer__social__item a:active {
  color: $soft-red;
}

.footer__nav__item:hover {
  color: $soft-red;
  cursor: pointer;
}

@media only screen and (min-width: 600px)  {
  
  .blue__box__image--right {
    margin-top: -45px;
    margin-left: -225px;
    width: 100%;
    min-width: 550px;
    max-width: 600px;
  }

  .blue__box--right {
    margin: 0 0 0 200px;
  }

  .blue__box__image--left {
    margin-top: -45px;
    margin-right: -225px;
    width: 100%;
    min-width: 425px;
    max-width: 525px;
  }

  .blue__box--left {
    margin: 0 200px 0 0;
  }

  .button--blue:hover {
    background-color: #fff;
    border: 1px solid $soft-blue;
    color: $soft-blue;
  }

  .button--get--ff:hover {
    background-color: #fff;
    border: 1px solid $very-dark-blue;
    color: $very-dark-blue;
  }

  .button--get--ff:active {
    border: 1px solid $very-dark-blue;
    color: $very-dark-blue
  }
  
  .button--get--ff:focus {
    border: 1px solid $very-dark-blue;
    color: $very-dark-blue    
  }

}

@media only screen and (min-width: 1000px)  {

  .features__heading, .hero__heading, .signup__heading, .faq__heading, .extension__heading {
    font-size: $desktop-heading-size;
  }

  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero__text__holder {
    margin: 0;
    padding: 0 5%;
    text-align: left;
    width: 50%;
  }

  .hero__image__holder {
    width: 50%;
  }

  .blue__box__image--right {
    margin-left: -200px;
    margin-top: -90px;
    width: 500px;
  }

  .blue__box__image--left {
    margin-right: -200px;
    margin-top: -120px;
    width: 425px;
  }

  .blue__box--right {
    height: 300px;   
    margin-left: 100px;
  }

  .blue__box--left {
    height: 300px;   
    margin-right: 150px;
  }

  .features__holder {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  .features__heading__info__box {
    margin: 0;
    text-align: left;
  }

  .features__holder__photo {
    padding-right: 5%;
    width: 50%;
  }

  .features__holder__text {
    padding-left: 5%;
    text-align: left;
    width: 50%;
  }

  .features__menu {
    border-bottom: 1px solid #dde0e9;
    border-top: none;
  }

  .features__menu__item {
    border-bottom: none;
    display: inline-block;
    padding: 0 5px 0 5px;
  }

  .features__menu__item__highlight {
    width: 110%;
  }

  .extension__holder {
    align-items: flex-start; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .extension__card {
    margin: 0 12px 0 12px;
  }

  .extension__card--firefox {
    margin-top: 30px;
  }

  .extension__card--opera {
    margin-top: 60px;
  }

  .features__text {
    margin: 0 auto 200px auto;
    max-width: 740px;
  }

  .extension__text {
    margin: 0 auto;
    max-width: 640px;
  }

  .faq {
    max-width: 640px;
    margin: 150px auto;
  }



  .signup__holder {
    margin: 0 auto;
    max-width: 640px;
  }

  .signup__heading {
    padding: 25px 35px;
  }

  .features__menu {
    align-items: flex-end;
    display: flex;
    justify-content: space-evenly;
    margin: 80px auto 50px auto;
  }

  .features__menu__item:hover {
    color: $soft-red;
  }

  .features__menu__item--pad {
    padding-left: 10px;
    margin: 0;
  }

  .header {
    margin-bottom: 100px;
  }

  .mobile__nav__icon {
    display: none;
  }

  .main__nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .main__nav__item {
    color: $very-dark-blue;
    font-size: 1.4rem;
    margin: 0 10px;
    padding: 5px;
    text-transform: uppercase;
  }

  .main__nav li:last-of-type {
    background-color: $soft-red;
    border: 1px solid $soft-red;
    border-radius: 5px;
    color: #fff;
    padding: 2px 25px;
  }

  .main__nav li:last-of-type:hover {
    background-color: #fff;
    border: 1px solid $soft-red;
    color: $soft-red;
    padding: 2px 25px;
  }

  .main__nav__item:hover {
    color: $soft-red;
    cursor: pointer;
  }

  .signup__form {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 90px;
  }

  .signup__form__input {
    width: 100%;
  }

  .signup__form__input__holder {
    margin: 0 20px 0 0;
    width: 100%;
  }

  .signup__form__button {
    width: 150px;
  }

  .signup__form__button:hover {
    background-color: #fff;
    border: 1px solid $soft-red;
    color: $soft-red;
  }

  .footer__nav__holder {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 25px 5%;
  }

  .footer__nav__holder__left {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .footer__nav__holder__right {
    margin: 0;
    padding: 0;
  }

  .footer__social {
    margin: 0;
    padding: 0;
  }

  .footer__nav {
    align-items: flex-start;
    display: flex;
    margin: 0;
    margin-top: -7px;
    margin-left: 45px;
    padding: 0;
  }

  .footer__nav__item {
    margin: 0;
    padding: 0 10px;
  }

  .button--faq {
    display: none;
  }

  .button--get-ff {
    margin-left: 25px;
  }

  details summary:after {
    padding-bottom: 0;
  }
  
}