@import 'normalize';
@import 'colors';

$default-font-size: 1.8rem;
$section-spacing-value: 150px;


* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: $default-font-size;
  color: $grayish-blue;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

main {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 40px 25px 0 25px;
}

.main__nav {
  display: none;
}

.mobile__nav {
  background-color: rgba(36, 41, 70, 0.95);
  color: #fff;
  height: 100%;  
  left: 0;
  margin: 0;
  padding: 64px 25px 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.mobile__nav--hidden {
  display: none;
}

.mobile__nav__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mobile__nav__menu {
  border-top: 1px solid #4c526c;
  list-style-type: none;
  margin: 25px auto;
  padding: 0;
}

.mobile__nav__menu__item {
  border-bottom: 1px solid #4c526c;
  color: #fff;
  letter-spacing: 2px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

.mobile__nav__menu li:last-of-type {
  border: 3px solid #fff;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 25px;
  padding: 15px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.hero__heading {
  color: $very-dark-blue;
  font-size: 2.7rem;
  font-weight: 500;
}

.button {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(105, 105, 109, 0.15);
  color: #565865;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 17px;
}

.button:hover {
  background-color: $soft-blue;
  color: #fff;
}

.button:active {
  transform: translateY(2px);
}

.button--blue {
  background-color: $soft-blue;
  color: #fff;
}

.features {
  margin-top: $section-spacing-value;
}

.features__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

.features__menu {
  border-bottom: 1px solid #dde0e9;
  border-top: 1px solid #dde0e9;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.features__menu__item {
  border-bottom: 1px solid #dde0e9;
  padding: 10px 0 0 0;
}

.features__menu__item__highlight {
  height: 4px;
  margin: 0 auto;
  text-align: center;
  width: 40%; 
}

.features__menu__item__highlight--red {
  background-color: $soft-red;
}

.features__menu__item:hover {
  color: $very-dark-blue;
  cursor: pointer;
}

.blue__box {
  background-color: #5368df;
  border-bottom-left-radius: 90px;
  /* border-left: 25px solid #fff; */
  /* min-height: 185px; */
  padding: 0 0 0 25px;
  margin: 35px 0 0 25px;
  /* max-width: 500px; */
  position: relative;
  z-index: 1;
}

.blue__box__image {
  left: 0;
  margin-top: -43px;
  /* max-width: 600px; */
  /* min-width: 320px; */
  position: absolute;
  top: 0;
  width: 500px;
  z-index: 2;
}

.extension {
  margin-top:  $section-spacing-value
}

.extension__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

.extension__card {
  border-radius: 15px;
  box-shadow: 1px 3px 10px rgba(105, 105, 109, 0.15);
  margin: 20px auto;
  padding: 50px 0 20px 0;
  width: 280px;
}

.extension__card__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 10px 0 5px 0;
  text-align: center;
}

.extension__card__version {
  font-size: 1.6rem;
  margin: 0;
}

.extension__card__separator {
  margin: 20px 0 20px 0;
}

.faq {
  margin-top:  $section-spacing-value;
}

.faq__heading {
  color: $very-dark-blue;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;  
}

details summary {
  color: $very-dark-blue;
  padding: 25px 0;
  text-align: right;
  border-bottom: 1px solid #eee;
  display: block;
}

.faq__question {
  display: inline-block;
  margin: 5px 0; 
  text-align: left; 
  width: 90%;
}
   
details summary::-webkit-details-marker {
  display: none;
}
  
details summary:after {
  display: inline-block;
  content: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  text-align: right;
}

details[open] summary:after {
  display: inline-block;
  width: 18px;
  height: 18px;
  content: "";
  background-image: url("../images/icon-arrow-red.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transform:scaleY(-1);
}

details[open] summary {
  border: none;
}

.button--faq {
  margin-bottom: 35px;
  margin-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.signup {
  background-color: $soft-blue;
  color: #fff;
  padding-bottom: 50px;
}

.signup__tagline {
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding: 70px 0 0 0;
  text-transform: uppercase;
}

.signup__heading {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0;
  text-align: center;  
}

.signup__form__input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

.signup__form__input--alert {
  background-image: url('../images/exclamation-circle-solid.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 5%;
}

.signup__form__input__holder {
  margin: 10px 0;
  padding: 2px 2px 5px 2px;
}

.signup__form__input__holder--red {
  background-color: $soft-red;
}

.signup__form__input__holder__alert {
  color: #fff;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ceced0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ceced0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ceced0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ceced0;
}

.signup__form__button {
  background-color: $soft-red;
  color: #fff;
  width: 100%;
}

.signup__form__button:hover {
  background-color: $soft-red;
  color: #fff;
}

.footer {
  background-color: $very-dark-blue;
  color: #fffeff;
  margin: 0;
  padding: 40px 0 0 0;
}

.footer__nav {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
}

.footer__nav__item {
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 15px 0;
  padding: 0;
  text-transform: uppercase;
}

.footer__social {
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
}

.footer__social__item {
  display: inline-block;
}

.footer__social li:last-of-type {
  margin-left: 35px;
}

.attribution { font-size: 11px; text-align: center; margin: 0; padding: 50px 0; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (min-width: 1000px)  {

  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero__text__holder {
    margin: 0;
    padding: 0 5%;
    text-align: left;
    width: 50%;
  }

  .hero__image__holder {
    width: 50%;
  }

  .blue__box__image--right {
    margin-left: -100px;
    margin-top: -90px;
    max-width: 500px;
  }

  .blue__box--right {
    height: 300px;   
    margin-left: 100px;
  }

}